.whatcable-count {
    padding-left: 4px;
    font-feature-settings: "tnum";
}

.whatcable-header {
    font-weight: bold;
}

.whatcable-subtitle {
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.95em;
}

.whatcable-bullet {
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.95em;
}

.whatcable-detail {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9em;
}

.whatcable-ok {
    color: #8ae234;
}

.whatcable-warning {
    color: #fcaf3e;
}
